[z_calibration]
#   The X and Y coordinates (in mm) for clicking the nozzle on the
#   Z endstop.
nozzle_xy_position: 228,355
#   The X and Y coordinates (in mm) for clicking the probe's switch
#   on the Z endstop.
switch_xy_position: 229,329
#   The X and Y coordinates (in mm) for probing on the print surface
#   (e.g. the center point) These coordinates will be adapted by the
#   probe's X and Y offsets. The default is the relative_reference_index
#   of the configured bed_mesh. It will raise an error if there is no
#   probe_bed site and no bed_mesh with a relative_reference_index
#   configured.
bed_xy_position: 175,175
#   The trigger point offset of the used mag-probe switch.
#   This needs to be fined out manually.
#   A smaller value is more away from bed
switch_offset: 0.62
#   The minimum and maximum margins allowed for the calculated offset.
#   If the offset is outside these values, it will stop!
#   The margin can be defined as "min,max" e.g. "-0.5,1.5" or by just one
#   value e.g. "1.0" which translates to "-1.0,1.0" (which is also the default).
offset_margins: -1.0,1.0
#   The moving speed in X and Y. The default is 50 mm/s.
speed: 200
#   If true, the first probing will be faster by the probing speed.
#   This is to get down faster and not record the result as a
#   probing sample. The default is false.
probing_first_fast: true
#   A list of G-Code commands to run before each calibration command.
#   See docs/Command_Templates.md for the G-Code format. This can be used to
#   attach the probe.
start_gcode: DOCK_PROBE
#   A list of G-Code commands to run before to each probing on the
#   mag-probe. See docs/Command_Templates.md for the G-Code format. This can
#   be used to attach the probe after probing on the nozzle and before probing
#   on the mag-probe.
before_switch_gcode: ATTACH_PROBE
                     G0 Z20
#   A list of G-Code commands to run after each calibration command.
#   See docs/Command_Templates.md for the G-Code format. This can be used to
#   detach the probe afterwards.
end_gcode: DOCK_PROBE
